/target
.vs/
.vscode/
target/
.cargo/
pyvv/
.venv/
pyinstll/
build/
.idea/
tst.py
tst1.py
tst2.py
tst3.py
Cargo.lock
handsomeMan.png
handsomeMan.PNG
sky.png
sky.PNG
.pyi_type_map.json
.assemble_pyi.py
tst4.py
cool_sky.webp
cool_sky.jpg
chipsound-logo-jingle-94719.mp3
chipsound-logo-jingle-94719.wav
pexels-mikebirdy-381228.jpg
Capture.PNG
monkey.glb
profile.prof
.venv314/
tst5.py
tst6.py
tst7.py
tst8.py
/little_forest